{include file="public/header" /}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .main {
        background: #fff;
        padding: 20px;
        color: #404040;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content" id="page">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{:isset($info['id'])?'编辑':'新增'}取单配置</h5>
                </div>
                <div class="ibox-content">
                    <form role="form" action="{:U()}" method="post" class="menu_form form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>渠道ID</label>
                                <input type="text" placeholder="请输入渠道ID" class="form-control" name="vender_id"
                                       value="{$info.vender_id|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>运营商<span style="margin-left: 8px;color: #aaa;">可单选多选，单选移动，多选移动,联通使用,拼接</span></label>
                                <input type="text" placeholder="请输入运营商" class="form-control" name="operator_id"
                                       value="{$info.operator_id|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>省份<span style="margin-left: 8px;color: #aaa;">可单选多选，单选广东，多选广东,广西使用,拼接</span></label>
                                <input type="text" placeholder="请输入省份" class="form-control" name="prov_code"
                                       value="{$info.prov_code|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>面值<span style="margin-left: 8px;color: #aaa;">可单选5,多选5,10,区间5-10</span></label>
                                <input type="text" placeholder="请输入面值" class="form-control" name="amount"
                                       value="{$info.amount|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>获取订单数量</label>
                                <input type="text" placeholder="请输入获取订单数量" class="form-control" name="order_num"
                                       value="{$info.order_num|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>状态</label>
                                <div>
                                    <input type="radio" name="status"
                                           value="1" <?php if($info['status']==1){ echo "checked"; } ?>
                                    > <i></i> 正常</label>
                                    <input type="radio" name="status"
                                           value="2" <?php if($info['status']==2){ echo "checked"; } ?>
                                    > <i></i> 隐藏</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="hidden" name="id" value="{$info.id|default=''}">
                                <button class="btn btn-primary ajax-post" type="submit" target-form="menu_form">
                                    <strong>确 定</strong></button>
                                <button class="btn btn-white" style="margin-left: 10px;"
                                        onclick="javascript:history.back(-1);return false;"><strong>返 回</strong>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>